@tailwind base;
@tailwind components;
@tailwind utilities;

/* (ตัวเลือก) ตั้งพื้นหลังเริ่มต้นให้ทั้งหน้า */
:root {
  color-scheme: light;
}

html,
body,
#root {
  height: 100%;
}

body {
  /* กันเคสมี CSS อื่นบังคับเป็นขาว */
  background: transparent;
}
